
.nav-item {
    font-size: 16.3px;
    font-weight: 300;
}
.visually-hidden{
    display: none;
}
.swiper-slide{
    display: inline-flex!important;
}

h1 {
    font-size: var(--text-5xl);
    letter-spacing: 0;
}
h2 {
    font-size: var(--text-3xl);
    letter-spacing: 0;
}
h5 {
    font-size: var(--text-5xl);
    line-height: var(--leading-normal);
    letter-spacing: 0;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px; 
}
 
@layer components {
    /* Swiper bullets default style override */
    .swiperSliderHero .swiper-pagination-bullet {
        background-color: #D9D9D9!important;
        opacity: 1!important;
    }
 
    .swiperSliderHero .swiper-pagination-bullet-active {
        background-color: transparent!important;   
        border: 1px solid #D9D9D9!important;
        
    }
    .swiperSliderHero .swiper-horizontal>.swiper-pagination-bullets, .swiperSliderHero .swiper-pagination-bullets.swiper-pagination-horizontal, .swiperSliderHero .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom:  15px !important; 
    }
 
 
 }
 
 .peer.hidden {
    display: none;
}
/* Remove arrows in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}